* {
  box-sizing: border-box;
}

body {
  margin: 5px;
  background-color: cadetblue;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

#main {
  background-color: darkcyan;
  border-style: wave;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#editor {
  display: flex;
  flex-direction: column;
}

p, input, label {
  font-family: sans-serif;
  font-size: 16px;
}

p, label {
  border-style: wave;
  border-radius: 5px;
}

textarea {
border: 5px solid black;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

form {
  align-items: flex-start;
  justify-content: flex-end;
}

#exit form {
  display: flex;
  align-items: flex-end;
}

input[type=submit] {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  background-color: aliceblue;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
