<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/connection.css}">
  <title>DB Connection</title>
</head>
<body>
<h1>Please connect to your database</h1>
<!--/*@thymesVar id="userConnection" type="com.example.sqlide.models.UserConnection"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="username" type="java.lang.String"*/-->
<!--/*@thymesVar id="password" type="java.lang.String"*/-->
<form th:action="@{/connection}" th:object="${userConnection}" th:method="POST">
  <label for="db">Database</label><input list="options" id="db" name="db">
  <datalist id="options">
    <option value="Microsoft SQL server">
    <option value="Oracle">
    <option value="IBM DB2">
    <option value="MySQL">
    <option value="PostgreSQL">
  </datalist><br>
  <label for="url">URL</label><input type="text" th:field="*{url}" id="url"><br>
  <label for="username">Username</label><input type="text" th:field="*{username}" id="username"><br>
  <label for="password">Password</label><input type="text" th:field="*{password}" id="password"><br>
  <input type="submit" value="Connect">
</form>
</body>
</html>
