<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/schemaComparison.css}">
  <title>Schema Comparison</title>
</head>
<body>
  <div id="back">
<form th:action="@{../back}" th:method="get">
  <input type="submit" value="Back">
</form>
</div>
<div id="main">
<form th:action="@{../client/compareSchema}" th:method="POST">
  <label for="sourceDb">Database</label><input list="sourceOptions" id="sourceDb" name="sourceDb">
  <datalist id="sourceOptions">
    <option value="Microsoft SQL server">
    <option value="Oracle">
    <option value="IBM DB2">
    <option value="MySQL">
    <option value="PostgreSQL">
  </datalist><br>
  <label for="sourceUrl">Source URL</label><input type="text" id="sourceUrl" name="sourceUrl">
  <label for="targetUrl">Target URL</label><input type="text" id="targetUrl" name="targetUrl"><br>
  <label for="sourceUsername">Source Username</label><input type="text" id="sourceUsername" name="sourceUsername">
  <label for="targetUsername">Target Username</label><input type="text" id="targetUsername" name="targetUsername"><br>
  <label for="sourcePassword">Source Password</label><input type="text" id="sourcePassword" name="sourcePassword">
  <label for="targetPassword">Target Password</label><input type="text" id="targetPassword" name="targetPassword"><br>
  <input type="submit" name="action" value="Compare schemas">
</form>

Comparison Results:
<!--/*@thymesVar id="comparisonResult" type="java.lang.String"*/-->
<p th:id="comparisonResult" th:name="comparisonResult" th:text="${comparisonResult}"></p>
</div>

</body>
</html>
